.row{
    display: grid;
    grid-template-areas:
    'main main2';
    grid-template-columns: [main main2] 50% ;
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
}


col-1{
    grid-area: main;
}

col-2{
    grid-area: main2;
}



