@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

@font-face {
    font-family: "Kollektif";
    src: url("../font/Kollektif.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

/*
╔═══════════════════════════════╗ 
            >components 
╚═══════════════════════════════╝ 
*/

.btn {
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 18px;
    background-color: #ff1d4e;
    transition: .2s ease-out;
    border: #ff1d4e solid 2px;
    outline: none;
}

.btn:hover {
    border: #ff1d4e solid 2px;
    color: #ff1d4e;
    background-color: rgba(255, 29, 78, .0);
    /* border-radius: 30px; */
    cursor: pointer;
}

.titre-dot {
    font-family: 'Kollektif', sans-serif;
    color: #ff1d4e;
    font-weight: 700;
    font-size: 50px;
}

.text-blue {
    color: #00FFCE;
}

.text-jaune {
    color: #FFDA00;
}

/*
╔═══════════════════════════════╗ 
             >navbar 
╚═══════════════════════════════╝ 
*/
header {
    position: absolute;
    top: 0;
}

.nav {
    -webkit-user-select: none;
}

.default-nav {
    margin-top: 30px;
}

.default-nav.move {
    margin-top: 60px;
}

.default-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
}

.nav .logo {
    position: fixed;
    left: 100px;
    top: 30px;
    transition: all .2s ease;
    z-index: 4;
}

.nav .logo.move {
    top: 60px;
}


.nav .logo:hover {
    transform: scale(1.15);
}

.default-nav .btn {
    position: fixed;
    right: 100px;
    z-index: 2;
}

.default-nav li {
    margin: auto;
    display: inline;
}

.default-nav .link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 9px 10px;
    margin: auto 20px;
    font-family: 'Kollektif', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.default-nav .link::before {
    content: "";
    background: #ff1d4e;
    width: 0px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    transition: all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.default-nav .link:hover::before {
    width: 100%;
}

/* .default-nav .link.active::before  {
    width: 100%;
} */

@media only screen and (max-width: 1000px) {
    .default-nav {
        display: none;
    }

    .default-nav li {
        display: none;
    }

    .default-nav .btn {
        display: none;
    }

    .nav .logo {
        top: 20px;
        margin-top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav .logo.move {
        top: 20px;
    }

    .nav .logo:hover {
        transform: scale(1);
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 400px) {
    .nav .logo {
        transform: scale(.6);
        left: 0;
    }
}

/*
╔═══════════════════════════════╗ 
          >admin navbar 
╚═══════════════════════════════╝ 
*/

.nav .titre {
    position: fixed;
    left: 150px;
    font-size: 20px;
    top: -15px;
}

.admin-nav .user {
    position: fixed;
    min-width: 200px;
    right: 69px;
    color: #fff;
    text-decoration: none;
    z-index: 3;
}

.admin-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    z-index: 6;
}

.admin-nav .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 6;
}

.admin-nav .dropdown-content a:hover {
    background-color: #ddd;
}

.admin-nav .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.admin-nav .dropdown:hover .dropbtn {
    color: #ff1d4e;
}

.admin-nav .dropdown:hover .dropdown-content {
    display: block;
}

.admin-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

.admin-nav li {
    margin: auto;
    display: inline;
}

.admin-nav .link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 9px 10px;
    margin: auto 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 17px;
}

.admin-nav .link:hover {
    color: #ff1d4e;
}

@media only screen and (max-width: 1000px) {
    .admin-nav {
        display: none;
    }

    .admin-nav li {
        display: none;
    }

    .nav .titre {
        top: 10px;
        left: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    .admin-nav .link {
        margin: auto 10px;
    }
}

/*
╔═══════════════════════════════╗ 
        >responsive navbar
╚═══════════════════════════════╝ 
*/

.responsive-nav {
    display: none;
}

.responsive-nav #menu {
    margin: 0;
    padding: 0;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 1;
    transition: 0.5s cubic-bezier(.40, 0, 0, 1);
    position: fixed;
    display: block;
}

#menu ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s cubic-bezier(.40, 0, 0, 1);
}

#menu ul.out {
    left: -150%;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    display: inline-block;
    font-size: 2em;
    color: #fff;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

#menu ul li a:hover {
    color: #ff1d4e;
}

#menu {
    display: none;
}

#menu.active {
    display: block;
    left: 0;
}

#menu #admin {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s cubic-bezier(.40, 0, 0, 1);
}

#menu #admin ul li a {
    display: block;
}

#menu #admin.active {
    left: 50%;
}

#menu .admin-arrow {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s cubic-bezier(.40, 0, 0, 1);
    cursor: pointer;
}

#menu .admin-arrow i{
    transform: scale(6);}

#menu .admin-arrow::after{
    content: "Navigation Utilisateur";
    position: absolute;
    min-width: 170px;
    top: 65px;
    transform: translateX(-54%);
}

#menu ul.out~ .admin-arrow {
    top: 22%;
}

@media only screen and (max-width: 1000px) {
    .responsive-nav {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .hamburger {
        transform: scale(.6);
    }
}

/*
╔═══════════════════════════════╗ 
            >footer
╚═══════════════════════════════╝ 
*/

footer {
    position: relative;
    bottom: 0;
    margin: 0px 5%;
    margin-bottom: 100px;
}

footer h4 {
    font-size: 60px;
    margin: 0;
}

footer .reseau {
    position: absolute;
    right: 0;
    top: 25%;
}

footer .reseau i {
    transform: scale(2);
    margin-left: 90px;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
    cursor: pointer;
    color: #fff;
}

footer .reseau i:hover {
    transform: scale(2.5);
}

footer .reseau .mail-res {
    display: none;
}

footer .lien {
    margin-top: 20px;
    font-size: 20px;
}

footer .lien-l1 a {
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
}

footer .lien-l1 a:hover {
    text-decoration: underline;
}

footer .lien-l1 a:first-child {
    margin-left: 0;
}

footer .lien-l2 a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    margin-left: 73px;
    text-align: center;
}

footer .lien-l2 a:hover {
    text-decoration: underline;
}

footer .lien-l2 a:first-child {
    margin-left: 0;
}

footer .mail {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    footer h4 {
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 30px;
    }

    footer .reseau {
        position: relative;
        right: 0%;
        transform: translate(0%);
        text-align: center;
    }

    footer .reseau a {
        margin-left: 20px;
    }

    footer .reseau a:first-child {
        margin-left: 0px;
    }

    footer .reseau i {
        margin-left: 0px;
        padding: 0px 10px;
        transform: scale(2);
    }

    footer .reseau i:hover {
        transform: scale(2);
    }

    footer .lien {
        text-align: center;
    }

    footer .lien-l1 a {
        display: block;
        margin-top: 10px;
        margin-left: 0px;
    }

    footer .lien-l2 a {
        display: block;
        margin-top: 10px;
        margin-left: 0px;
    }

    footer .mail {
        display: none;
    }

    footer .reseau .mail-res {
        display: inline-block;
    }

}

/*
╔═══════════════════════════════╗ 
            >index 
╚═══════════════════════════════╝ 
*/

.banner {
    height: 100vh;
}

.banner .AYI {
    position: absolute;
    height: 35vw;
    top: 50%;
    left: 10%;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.banner .AYI-back {
    position: absolute;
    height: 70vw;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}


.scrolldown {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.video-container{
    width: 100%;
}

.video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 340px;
    outline: none;

    background-color: rgba(0, 0, 0, 0.90);
    height: 340px;
    width: 604.44px;
}

#countdown{    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 4em;    
}

.accueil .text {
    position: relative;
    transform: translateY(30%);
    width: 500px;
}

.partenaire {
    text-align: center;
}

.partenaire .logo {
    width: 200px;
    transition: .2s ease;
}

.partenaire .logo:hover {
    transform: scale(1.2);
}

.pole .conception-text {
    text-align: center;
}

.pole .conception-text h2 {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

.pole .ligne {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
    left: 0;
    margin-top: 80px;
    margin-bottom: 20%;
}

.pole .service {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
    margin-top: 300px;
    margin-bottom: 5%;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.section.pole {
    margin-bottom: 37%;
}


@media only screen and (min-width: 1400px) {
    .banner .AYI {
        height: 30vw;
    }

    .banner .AYI-back {
        height: 60vw;
    }    
}

@media only screen and (max-width: 1000px) {
    .banner .AYI {
        height: 50vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner .AYI-back {
        height: 80vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-container {
        width: 100%;
        margin-left: 2%;
    }

    .video {
        width: 96%;
    }

    .accueil .text {
        position: relative;
        transform: translateY(0%);
        width: 100%;
    }

    .section.pole {
        margin-bottom: 200px;
    }

    .section.pole .service {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1300px) {
    .video {
        height: 280px;
    }
}

/*
╔═══════════════════════════════╗ 
           >index card
╚═══════════════════════════════╝ 
*/

.pole .card {
    position: absolute;
    text-align: center;
    width: 400px;
}

.pole .card.design {
    left: 25%;
    transform: translate(-50%, 40px);
}

.pole .card.web {
    left: 50%;
    transform: translate(-50%, 40px);
}

.pole .card.redaction {
    right: 25%;
    transform: translate(50%, 40px);
}

.pole .card .rond {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 1;
    margin: auto;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.pole .card.design .rond {
    background-color: #ff1d4e;
}

.pole .card.web .rond {
    background-color: #00FFCE;
}

.card.redaction .rond {
    background-color: #FFDA00;
}

.pole .card .title {
    margin-top: 50px;
    font-size: 1.8rem;
}

.pole .card .content {
    padding-bottom: 50px;
    transform: translateY(-20%);
    opacity: 0;
    z-index: -1;
    transition: .5s cubic-bezier(.40, 0, 0, 1);
}

.pole .card:hover .content {
    transform: translateY(0%);
    opacity: 1;
}

.pole .card:hover .rond {
    transform: scale(1.2);
}

.pole .card:hover~.service {
    margin-top: 450px;
}

.pole .card .content::after {
    content: "";
    width: 45%;
    position: absolute;
    height: 2px;
    border-radius: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.pole .card.design .content::after {
    background-color: #ff1d4e;
}

.pole .card.web .content::after {
    background-color: #00FFCE;
}

.pole .card.redaction .content::after {
    background-color: #FFDA00;
}

.pole .card .title::before {
    content: "";
    width: 45%;
    position: absolute;
    height: 2px;
    border-radius: 2px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}

.pole .card.design .title::before {
    background-color: #ff1d4e;
}

.pole .card.web .title::before {
    background-color: #00FFCE;
}

.pole .card.redaction .title::before {
    background-color: #FFDA00;
}

@media only screen and (max-width: 1000px) {
    .section {
        margin: 0;
    }

    .ligne {
        display: none;
    }

    .pole .card {
        margin-top: 50px;
        position: relative;
        width: 100%;
    }

    .pole .card.design {
        left: 50%;
        transform: translate(-50%);
    }

    .pole .card.web {
        left: 50%;
        transform: translate(-50%);
    }

    .pole .card.redaction {
        left: 50%;
        transform: translate(-50%);
    }

    .pole .card .content {
        padding-bottom: 50px;
        transform: translateY(0%);
        opacity: 1;
        z-index: -1;
        transition: .5s cubic-bezier(.40, 0, 0, 1);
        text-align: center;
    }

    .service {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1.5);
        margin-top: 50px;
        margin-bottom: 5%;
    }

    .pole .card:hover .rond {
        transform: scale(1);
    }

    .pole .card:hover~.service {
        margin-top: 50px;
    }
}

/*
╔═══════════════════════════════╗ 
            >contact
╚═══════════════════════════════╝ 
*/

.section.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    text-align: center;
}

.section.contact h1 {
    font-size: 50px;
}

.section.contact #mail{
    margin-right: 0;
}

.form-contact #mail{
    margin-right: 0;
}

.section.map {
    position: absolute;
    margin-top: 80vh;
    width: 100%;
}


@media only screen and (max-width: 1000px) {
    .section.contact {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        text-align: center;
    }

    .section.contact h1 {
        font-size: 1.5rem;
    }
}
/*
╔═══════════════════════════════╗ 
            >merci
╚═══════════════════════════════╝ 
*/

.section.merci{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
╔═══════════════════════════════╗ 
            >réalisation
╚═══════════════════════════════╝ 
*/

.section.realisation {
    margin-top: 150px;
    text-align: center;
}

.section.realisation h1 {
    margin-bottom: 50px;
}

.section.realisation .row {
    width: 60vw;
    height: 200px;
    margin: 20px auto;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.section.realisation .row:hover {
    height: 40vh;
    width: 90vw;
}

.section.realisation .consultbiz {
    background-image: url("../img/realisation/ConsultBiz.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 50%;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}


.section.realisation .getwid {
    background-image: url("../img/realisation/Getwid.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 50%;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.section.realisation .workylite {
    background-image: url("../img/realisation/Worky\ lite.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 50%;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.section.realisation .webion {
    background-image: url("../img/realisation/webion.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 50%;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.section.realisation .ratherapp {
    background-image: url("../img/realisation/ratherApp.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 50%;
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}


/*
╔═══════════════════════════════╗ 
           >Services
╚═══════════════════════════════╝ 
*/

.section.services h1 {
    margin-top: 8%;
    text-align: center;
    margin-bottom: 50px;
}

.section.services .developer {
    background-image: url(../img/services/developer.jpg);
    background-size: 100%;
    width: 500px;
    height: 300px;
    float: right;
    margin-right: 50px;
}

.section.services .text {
    width: 500px;
    margin-top: 0;
}

.section.etape {
    margin-top: 150px;
}

.section.etape h1 {
    text-align: center;
    margin-bottom: 90px;
}

.section.etape .rencontre {
    border-top: #ff1d4e solid 4px;
    padding: 60px 0;
}

.section.etape .text {
    max-width: 600px;
    margin-left: 50px;
}

.section.etape .rencontre .text {
    margin-left: 30%;
}

.section.etape .realisation .text {
    margin-left: 30%;
}

.section.etape .img {
    background-size: 100%;
    width: 500px;
    height: 300px;
    margin: 0 50px;
}

.section.etape .img-1 {
    background-image: url(../img/services/rencontre.jpg);
}

.section.etape .img-2 {
    background-image: url(../img/services/conception.jpg);
    margin-left: 30%;
}

.section.etape .img-3 {
    background-image: url(../img/services/realisation.jpg);
}

.section.etape .conception {
    border-top: #00FFCE solid 4px;
    padding: 60px 0;
}

.section.etape .realisation {
    border-top: #FFDA00 solid 4px;
    padding: 60px 0;
}


@media only screen and (max-width: 1350px) {
    .section.services h1 {
        margin-top: 100px;
    }

    .section.services .developer {
        float: left;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .section.services .text {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .section.etape .rencontre .text {
        margin-left: 0;
    }

    .section.etape .realisation .text {
        margin-left: 0;
    }

    .section.etape h2 {
        margin-top: 0;
    }

    .section.etape {
        margin-top: 100px;
    }

    .section.etape .col-2 {
        margin-left: 0;
    }

    .section.etape .text {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 500px;
        margin: 0;
    }

    .section.etape .img {
        float: left;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .section.services .developer {
        width: 90%;
        background-repeat: no-repeat;
    }

    .section.services .text {
        font-size: .8rem;
        width: 90%;
    }

    .section.etape .text {
        width: 90%;
    }

    .section.etape .img {
        width: 90%;
        background-repeat: no-repeat;
    }
}

/*
╔═══════════════════════════════╗ 
           >arpros
╚═══════════════════════════════╝ 
*/

.section.apropos {
    position: relative;
    top: 150px;
    margin-bottom: 250px;
}

.section.apropos img {
    position: relative;
    left: 50%;
    transform: translate(-50%) scale(2.5);
    margin: 2% 0;
}

.section.apropos .text {
    max-width: 60vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 100px;
}

.section.apropos .center {
    text-align: center;
}

.section.apropos .card {
    position: relative;
    width: 280px;
    max-height: 400px;
    background-color: #fff;
    padding: 1.5em;
    color: #000;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%) scale(1);
    transition: .3s cubic-bezier(.40, 0, 0, 1);
}

.section.apropos .card:hover {
    transform: translate(-50%) scale(1.1);
}

.section.apropos .card.chef:hover {
    transform: translate(-50%) scale(1.1);
}

.section.apropos .card .titre {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.section.apropos .card .sous-titre {
    text-align: center;
    margin-top: 6px;
    font-size: 14px;
    font-style: italic;
}

.section.apropos .col-1 {
    margin-left: 0;
    width: 25%;
}

.section.apropos .col-2 {
    margin-left: 0;
    width: 50%;
}

.section.apropos .card.chef {
    left: 50%;
    transform: translate(-50%);
}

.section.apropos .card .img {
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}


.section.apropos .card.chef .img {
    background-image: url('../img/obs/Hugo\ pruneau.jpg');
}

.section.apropos .card.Maxime .img {
    background-image: url('../img/obs/Maxime.jpg');
}

.section.apropos .card.Dorian .img {
    background-image: url('../img/obs/Dorian.jpg');
}

.section.apropos .card.Lysandre .img {
    background-image: url('../img/obs/Lys\ cassis.jpeg');
}

.section.apropos .card.Lorenzo .img {
    background-image: url('../img/obs/Lorenzo.jpg');
}

.section.apropos .card.Mathias .img {
    background-image: url('../img/obs/shmidt.jpg');
}

.section.apropos .card.Hugo .img {
    background-image: url('../img/obs/megongaga.jpg');
}

.section.apropos .card .content {
    position: relative;
}

.section.apropos blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.7em 0;
    position: relative;
    font-style: italic;
}

.section.apropos blockquote:before {
    content: '\201C';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
}

.section.apropos blockquote:after {
    content: "\2013 \2003"attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #ff1d4e;
    font-style: normal;
}

.section.apropos-contact {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 450px;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
}

.section.apropos .col-custom {
    margin-left: 0;
    width: 33.33%;
}

@media only screen and (max-width: 1010px) {
    .section.apropos .col-custom {
        width: 50%;
    }

    .section.apropos .f-l{
        float: left;
        margin-left: 50px;
    }
    
    .section.apropos .f-r{
        float: right;
        margin-right: 50px;
    }

    .section.apropos .card:not(.chef){
        left: 0;
        transform: translate(0) scale(1);
    }

    .section.apropos .card:not(.chef):hover{
        transform: translate(0) scale(1.1);
    }
}

@media only screen and (max-width: 826px) {
    .section.apropos .col-custom,
    .section.apropos .col-4 {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .section.apropos-contact {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 300px;
        text-align: center;
    }

    .section.apropos .f-l{
        float: none;
        margin-left: 0;
    }
    
    .section.apropos .f-r{
        float: none;
        margin-right: 0;
    }

    .section.apropos .card:not(.chef){
        left: 50%;
        transform: translate(-50%) scale(1);
    }

    .section.apropos .card:not(.chef):hover{
        transform: translate(-50%) scale(1.1);
    }
}

/*
╔═══════════════════════════════╗ 
           >manage page
╚═══════════════════════════════╝ 
*/

.section.manage {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
    width: 700px;
}

.section.manage .copylink {
    font-size: 13px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #4e4e4e;
    color: #9b9b9b;
    outline: none;
    float: left;
}

.section.manage .box-copylink button {
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 10px;
}


.section.manage .box-copylink .i {
    color: #fff;
    width: 100%;
    transform: scale(1.5);
    transition: .1s ease-in;
}

.section.manage .box-copylink .i:hover {
    color: #ff1d4e;
    transform: scale(1.7);
}

.section.manage #send {
    position: absolute;
    right: 0;
}

.section.manage table {
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.section.manage table td {
    border-bottom: #4e4e4e 1.5px solid;
    padding: 8px;
}

.section.manage table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4e4e4e;
    color: white;
    padding: 12px;
}

/*
╔═══════════════════════════════╗ 
            >login
╚═══════════════════════════════╝ 
*/

.login-logo{
    position: fixed;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
    top: 30px;
    transition: all .2s ease;
}

.login-logo:hover{
    transform: translateX(-50%) scale(1.65);
}

.section.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section.login .flogin {
    width: 265px;
    text-align: center;
}

.section.login .flogin .forgot{
    float: right;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 1.5em;
}

.section.login .flogin .forgot:hover{
    text-decoration: underline;
}

.section.login .flogin h1{
   font-size: 3rem;
}

.section.login .flogin .titre-dot{
    font-size: 5rem;
 }

.section.login .flogin input[type="text"] {
    width: 250px;
    margin: 0;
    margin-bottom: 1.5em;
}

.section.login .flogin input[type="password"] {
    width: 250px;
    margin: 0;
    margin-bottom: 1em;    
}

.section.login .fmdp {
    text-align: center;
}

.section.login .fmdp input[type="text"]{
    margin-bottom: 1.5em;
    transition: .2s ease;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}





/*
╔═══════════════════════════════╗ 
            >input
╚═══════════════════════════════╝ 
*/

.group {
    position: relative;
    float: left;
}



input[type="text"],
input[type="password"] {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    margin-right: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #4e4e4e;
    color: #fff;
    outline: none;
}


textarea {
    font-size: 18px;
    padding: 8px 10px 0px 5px;
    display: block;
    width: 437px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #4e4e4e;
    color: #fff;
    outline: none;
    line-height: normal;
    overflow-y: hidden;
    resize: none;
    max-height: 15rem;
}

.form-contact input[type="text"] {
    margin-bottom: 1.5em;
    transition: .2s ease;
}

.form-contact textarea {
    margin-bottom: 2em;
}

/* label default */

label {
    color: #8e8e8e;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active stat */

input[type="text"]:focus~label,
input[type="text"]:valid~label,
input[type="password"]:focus~label,
input[type="password"]:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -10px;
    font-size: 14px;
    color: #ff1d4e;
}

input[type="text"]:focus,
input[type="text"]:valid,
input[type="password"]:focus,
input[type="password"]:valid,
textarea:focus,
textarea:valid {
    border-bottom: 1px solid #ff1d4e;
}

@media only screen and (max-width: 1000px) {
    .group {
        position: relative;
        width: 300px;
    }

    input[type="text"],
    input[type="password"]{
        width: 90%;
        max-width: 300px;
    }

    textarea {
        width: 90%;
        max-width: 300px;
    }
}

/*
╔═══════════════════════════════╗ 
            >Burger 
╚═══════════════════════════════╝ 
*/

.hamburger {
    padding: 10px 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
    border: none;

    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 2
}

.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after {
    background-color: #ff1d4e;
}

.hamburger.is-active:hover .hamburger-inner,
.hamburger.is-active:hover .hamburger-inner::after,
.hamburger.is-active:hover .hamburger-inner::before {
    background-color: #ff1d4e;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/* burger animation */

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
╔═══════════════════════════════╗ 
             >modal
╚═══════════════════════════════╝ 
*/

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    -webkit-user-select: none;
}

.modal.active {
    display: block;
}

.modal-content {
    background-color: #252525;
    padding: 2em 2em;
    text-align: center;
    border-radius: .5em;
    width: 350px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50vh, -50vw);
    z-index: 3;
}

.modal-content p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .85rem;
}

#modal-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    display: none;
    position: absolute;
}

#modal-bg.active {
    display: block;
}

.modal-icon {
    margin: 0 auto;
    padding: 10px;
}

.modal-icon i {
    transform: scale(3.5);
    color: #fff;
}

.modal-btn {
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 18px;
    transition: .2s ease-out;
    outline: none;
    margin: 20px 2px 0px 2px;
}

.modal-btn:hover {
    background-color: transparent;
    cursor: pointer;
}

.cancel {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: rgba(255, 255, 255, 0) solid 1.5px;
}

.cancel:hover {
    color: #fff;
    border: rgba(255, 255, 255, .2) solid 1.5px;
}

.ok {
    background-color: #ff1d4e;
    color: #fff;
    border: #ff1d4e solid 1.5px;
}

.ok:hover {
    background-color: transparent;
    color: #ff1d4e;
    border: #ff1d4e solid 1.5px;
}

/*
╔═══════════════════════════════╗ 
            >tooltip
╚═══════════════════════════════╝ 
*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}